	<h2 class="title"> Словник сучасних та продвинутих CSS властивостей для робити з стовпцями, фрагментами та прокруткою </h2>

	{{!-- ================================ --}}
	<section>
		<div class="card">
			<div class="card-body">
Cтовпці

columns — це CSS властивість, яка використовується для
розділення вмісту на колонки в багатостовпчиковому
контейнері

.example {
: 2;
}
columns

columns

Перейти на онлайн демо


Cтовпці

Значення Опис

С W C — кількість стовпців, W — ширина стовпців

С (count) < column-count>

W (width) < column-width>
			</div>
		</div> 
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Кількість стовпців

column-count — це CSS властивість, яка встановлює
кількість стовпчиків для вмісту, який розміщується у
контейнері.

.example {
: 5;
}
column-count

column-count

Перейти на онлайн демо

Значення Опис

auto Браузер вирішує, скільки стовпчиків використовувати на основі

ширини контейнера та значення "column-width".

число Встановлює конкретну кількість стовпчиків для вмісту.

Значення повинно бути цілим числом і більше 0.
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Ширина стовпців

column-width — це CSS властивість, яка встановлює
ширину стовпців у багатостовпчиковому макеті

.example {
: 300px;
}
column-width

column-width

Перейти на онлайн демо

Значення Опис

auto Браузер визначає ширину стовпців автоматично на основі

вмісту

довжина Вказує фіксовану ширину стовпців в пікселях, відсотках або

інших допустимих одиницях вимірювання довжини
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Відстань між
стовпцями

column-gap — це CSS властивість, яка визначає відстань
між стовпцями в багатостовпчиковому контейнері.

.example {
: 5;
}
column-gap

column-gap

Перейти на онлайн демо

Значення Опис

normal Відстань між стовпцями залежить від браузера

довжина Визначає відстань між стовпцями у відповідній одиниці виміру

% Визначає відстань між стовпцями відносно ширини контейнера
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
column-rule — це CSS властивість, яка використовується
для встановлення стилю, товщини та кольору лінії між
колонками в багатостовпчиковому контейнері

.example {
: thick inset blue;
}
column-rule

column-rule

Перейти на онлайн демо

Лінія стовпця

Значення Опис

W S C W — ширина лінії, S — стиль лінії, С — колір лінії

W <column-rule-width>

S <column-rule-style>

С <column-rule-color>
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Товщина лінії
стовпця

column-rule-width — це CSS властивість, яка
використовується для встановлення товщини лінії між
колонками в багатостовпчиковому контейнері.

.example {
: thick;
}
column-rule-width

column-rule-width

Перейти на онлайн демо

Товщина лінії
стовпця

Значення Опис

довжина Встановлює ширину лінії у конкретній одиниці

вимірювання

thin Встановлює тонку лінію

medium Встановлює середню лінію

thick Встановлює товсту лінію
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Cтиль лінії стовпця

column-rule-style — це CSS властивість, яка визначає стиль
лінії, яка відділяє стовпці в багатостовпчиковому контейнері.

.example {
: dotted;
}
column-rule-style

column-rule-style

Перейти на онлайн демо


Cтиль лінії стовпця

Значення Опис

none Лінії немає

hidden Лінії немає, але місце, де вона повинна бути, залишається

dotted Точкова лінія

dashed Пунктирна лінія

solid Суцільна лінія

double Подвійна лінія

groove Лінія виглядає як врізка

ridge Лінія виглядає як виступ
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Колір лінії стовпця

column-rule-color — це CSS властивість, яка встановлює
колір лінії для стовпців

.example {
: blue;
}
column-rule-color

column-rule-color

Перейти на онлайн демо

Значення Опис

колір Встановлює фіксований колір для лінії правила



			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Стовпчастий проліт

column-span — це CSS властивість, яка визначає, скільки
колонок має зайняти елемент, який має бути розділеним на
декілька колонок.

.example {
: thick inset blue;
}
column-span

column-span

Перейти на онлайн демо

Значення Опис

none Елемент не розбивається на декілька колонок і займає

тільки одну. Значення за замовчуванням

all Елемент розбивається на декілька колонок і займає всі

доступні
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Заповнення стовпців

column-fill — це CSS властивість, яка відповідає за розподіл
контенту між стовпцями в мультимедійних документах,
таких як газети та журнали

.example {
: balance;
}
column-fill

column-fill

Перейти на онлайн демо

Значення Опис

auto Браузер самостійно вирішує, як заповнювати стовпці.

Значення за замовчуванням

balance Контент розподіляється рівномірно між стовпцями
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Фрагментація

Фрагментація CSS - це важливий метод веб-розробки, що
дозволяє визначати, як вміст сторінки буде відображатися на
кількох сторінках, областях або стовпцях.

Фрагментація стає актуальною, коли контент сторінки не
поміщається в одну область і потребує розбиття на кілька блоків
або коли потрібно відображати його на кількох сторінках,
наприклад, при друку сторінки чи експортуванні в PDF.

Кожен блок контенту, який розбивається на окремі частини,
називається фрагментом. Ці фрагменти можуть мати різні
розміри та розташування на сторінці, тому важливо правильно
стилізувати кожен фрагмент, щоб забезпечити належний вигляд
всієї сторінки.
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Розрив до

break-before — це CSS властивість, яка вказує, чи потрібно
вставити пусте місце перед елементом при його розбитті на
сторінки при експортуванні HTML документа в PDF

.example {
: page;
}
break-before

break-before

Перейти на онлайн демо

Розрив до

Значення Опис

auto Браузер вирішує самостійно чи потрібно робити розрив

left Вставляє розрив перед елементом із зміщенням на нову ліву

сторінку

right Вставляє розрив перед елементом із зміщенням на нову праву

сторінку

avoid Ніколи не вставляє розрив перед елементом

avoid-page Вставляє розрив перед елементом, якщо це не перша сторінка

блоку.

page Вставляє розрив перед елементом, якщо це перша сторінка

блоку

avoid-column Вставляє розрив перед елементом, якщо це не перша колонка

блоку.

column Вставляє розрив перед елементом зі зміщенням на нову колонку

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Розрив після

break-after — це CSS властивість, яка вказує, чи потрібно
вставити пусте місце після елементу при його розбитті на
сторінки при експортуванні HTML документа в PDF

.example {
: avoid;
}
break-after

break-after

Перейти на онлайн демо

Розрив після

Значення Опис

auto Браузер вирішує самостійно чи потрібно робити розрив

left Вставляє розрив після елементу із зміщенням на нову ліву

сторінку

right Вставляє розрив після елементу із зміщенням на нову праву

сторінку

avoid Ніколи не вставляє розрив після елементу

avoid-page Вставляє розрив після елементу, якщо це не перша сторінка

блоку.

page Вставляє розрив після елементу, якщо це перша сторінка блоку

avoid-column Вставляє розрив після елементу, якщо це не перша колонка

блоку.

column Вставляє розрив після елементу зі зміщенням на нову колонку

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Розрив всередині

break-inside — це CSS властивість, яка вказує, чи можуть
бути розділені внутрішні контейнери елемента при розбитті
на сторінки при експортуванні HTML документа в PDF

.example {
: avoid;
}
break-inside

break-inside

Перейти на онлайн демо

Розрив всередині

Значення Опис

auto Браузер встановлює, чи можна розділити внутрішні
контейнери елемента. Значення за замовченням

avoid Внутрішні контейнери елемента не можуть бути розділені

avoid-page

Внутрішні контейнери елемента не можуть бути розділені
на дві сторінки. Якщо вони не поміщаються на поточну
сторінку, вони переносяться на наступну сторінку.

avoid-column

Внутрішні контейнери елемента не можуть бути розділені
на дві колонки. Якщо вони не поміщаються на поточну
колонку, вони переносяться на наступну колонку.

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Розрізання та
клонування
декоративних ліній
та рамок

box-decoration-break — це CSS властивість, визначає, як
мають відтворюватися фрагменти елемента, розбиті на
кілька рядків, стовпців або сторінок.

.example {
: slice;
}
box-decoration-break

box-decoration-break

Перейти на онлайн демо

Розрізання та
клонування
декоративних ліній
та рамок

Значення Опис

slice Стиль лінії та рамки не змінюється на перетині межі
елемента. Лінія або рамка буде обрізана на межі

clone

Стиль лінії та рамки зберігається, незалежно від того, де
відбувається перетин межі. Лінія або рамка буде
продовжена наступному елементу.

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Контроль кількості
рядків тексту

orphans — це CSS властивість, яка використовується для
контролю кількості рядків тексту, які можуть бути залишені
на попередній сторінці або стовпці при розділенні блоку
тексту на більше однієї сторінки або стовпця

.example {
: 4;
}
orphans

orphans

значення Опис

число Вказує мінімальну кількість рядків тексту, які повинні

залишатися на попередній сторінці або стовпці
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Мінімальна кількость
рядків

widows — це CSS властивість, яка визначає мінімальну
кількість рядків, які повинні залишатися на останній сторінці
блоку перед тим, як він перейде на наступну сторінку при
друку

.example {
: 3;
}
widows

widows

значення Опис

число Вказує конкретну кількість рядків, які мають залишатися на

останній сторінці.
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Ізоляція

isolation — це CSS властивість, яка визначає, як елемент
буде відокремлений від інших елементів на сторінці

.example {
: isolate;
}
isolation

isolation

Перейти на онлайн демо

Значення Опис

auto Елементи не відокремлюються і можуть взаємодіяти між

собою. Значення за замовченням

isolate Елемент повністю відокремлюється від інших елементів на

сторінці, не може взаємодіяти з ними.
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Змішання кольорів

mix-blend-mode — це CSS властивість, яка визначає спосіб
змішування кольорів між елементами та їх фоном

.example {
: multiply;
}
mix-blend-mode

mix-blend-mode

Перейти на онлайн демо

Змішання кольорів

Значення Опис

normal Елементи перекривають один одного, не змішуючись між

собою. Значення за замовченням

multiply Змішує кольори елемента та фону, як множення двох чисел.

Це призводить до темнішого відтінку.

screen Змішує кольори елемента та фону, як додавання двох

чисел. Це призводить до світлішого відтінку

overlay Змішує кольори елемента та фону так, що вони виглядають

як нашарування один на одному

darken Змішує кольори елемента та фону, використовуючи тільки

найтемніший з двох кольорів.

lighten Змішує кольори елемента та фону, використовуючи тільки

найсвітліший з двох кольорів

Змішання кольорів

Значення Опис

color-dodge Змішує кольори елемента та фону, як ділення одного числа

на інше. Це призводить до світлішого відтінку

color-burn Змішує кольори елемента та фону, як віднімання одного
числа від іншого. Це призводить до темнішого відтінку.

hard-light Змішує кольори елемента та фону, як множення або

додавання залежно від яскравості кольорів.

soft-light Змішує кольори елемента та фону, як комбінація множення

та додавання.

difference Змішує кольори елемента та фону, як віднімання одного
числа від іншого. Це призводить до різниці між кольорами.

exclusion Змішує кольори елемента та фону, що призводить до їх

відтінку на протилежний кінець спектру

Змішання кольорів

Значення Опис

hue Змішує кольори елемента та фону, застосовуючи лише

значення тону кольорів

saturation Змішує кольори елемента та фону, використовуючи лише

значення насиченості кольорів

color Змішує кольори елемента та фону, як множення двох чисел

luminosity Змішує кольори елемента та фону, використовуючи більш

світлішу частину кольору



			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Змішування фону

background-blend-mode — це CSS властивість, яка
визначає спосіб змішування фонового кольору або
зображення зі зображенням, що встановлене в якості фону
елемента.

.example {
: screen;
}
background-blend-mode

background-blend-mode

Перейти на онлайн демо

Змішування фону

Значення Опис

normal Шари фону не змішуються між собою. Значення за

замовченням

multiply Шари фону множаться між собою, що створює темніший

вигляд.

screen Шари фону злиттяться з білим кольором, створюючи

світліший вигляд

overlay Змішує шари фону так, що вони виглядають як нашарування

один на одному

darken Вибирається більш темний з двох пікселів для кожного

каналу кольору.

lighten Вибирається більш світлий з двох пікселів для кожного

каналу кольору.

Змішування фону

Значення Опис

color-dodge Світлі пікселі замінюються на світліші кольори.

color-burn Темні пікселі замінюються на темніші кольори.

hard-light Суміш світлого та темного вигляду в залежності від

кольору шару фону.

soft-light Суміш світлого та темного вигляду в залежності від

насиченості кольору шару фону.

difference Різниця між кольорами шарів фону.

exclusion Змішує шари фону, що призводить до їх відтінку на

протилежний кінець спектру


Змішування фону

Значення Опис

normal Шари фону не змішуються між собою. Значення за

замовченням

multiply Шари фону множаться між собою, що створює темніший

вигляд.

screen Шари фону злиттяться з білим кольором, створюючи

світліший вигляд

overlay Змішує шари фону так, що вони виглядають як нашарування

один на одному

darken Вибирається більш темний з двох пікселів для кожного

каналу кольору.

lighten Вибирається більш світлий з двох пікселів для кожного

каналу кольору.

Змішування фону

Значення Опис

hue Змішує шари фону, застосовуючи лише значення тону

кольорів

saturation Змішує шари фону, використовуючи лише значення

насиченості кольорів

color Змішує шари фону, як множення двох чисел

luminosity Змішує шари фону, використовуючи більш світлішу частину

кольору



			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Відновлення

all — це CSS властивість, яка скидає всі властивості
елемента, окрім unicode-bidi, direction та var()

.example {
: initial;
}
all

all

Перейти на онлайн демо

Значення Опис

initial Всі властивості елемента будуть змінені на початкові значення.
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Браузерна тема

appearance — це CSS властивість, яка скидає всі додаткові
властивості елемента, які надає браузер відповідно до ОС
та самого браузера

.example {
: none;
}
appearance

appearance

Перейти на онлайн демо

Значення Опис

none

Приховує всі додаткові властивості, які надає браузер
відповідно до ОС та самого браузера. Браузер буде
відображати лише базові універсальні властивості для
потрібних елементів, які будуть однакові усюди

auto Браузер може додати свої власні властивості до певних

елементів відповідно до ОС та самого браузера
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Набір зображень

image-set() — це CSS функція, яка дозволяє вказувати набір
зображень різної якості та розмірів для фонового
зображення або зображення елемента.

.example {
background-image:
"img-1x.jpg" 1x,
"img-2x.jpg" 2x,
"img-3x.jpg" 3x
;
}

image-set(

)

image-set()

Перейти на онлайн демо
Набір зображень

Значення Опис

<image> Вказує шлях до зображення

<string>
(необов'язковий)

Вказує додаткову інформацію про зображення,
наприклад, назву або опис

<resolution>
(необов'язковий) Вказує розширення зображення в пікселях на дюйм

type(<string>)
(необов'язковий) Вказує тип зображення, наприклад, "png" або "jpeg"

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Вирізати шляхом

clip-path — це CSS властивість, яка використовується для
вирізання або обрізання зображення або елемента на основі
вказаних форм або шляхів.

.example {
: circle(50%);
}
clip-path

clip-path

Перейти на онлайн демо

значення Опис

none Значення за замовчуванням, яке вказує, що вирізання не

застосовується.

Вирізати шляхом

значення Опис

none Значення за замовчуванням, яке вказує, що вирізання не

застосовується.

inset() Вказує вирізання внутрішньої області зазначеного
елемента, використовуючи відстані від країв елемента.

circle() Вказує вирізання круглої форми зазначеного радіуса

ellipse() Вказує вирізання еліптичної форми зазначеного радіуса.

polygon() Вказує вирізання багатокутної форми зазначених

координат.

path() Вказує вирізання форми за допомогою шляху (path) SVG

margin-box Вирізає зображення або елемент за межами його поля

margin.

border-box Вирізає зображення або елемент за межами його поля

border.

Вирізати шляхом

значення Опис

padding-box Вирізає зображення або елемент за межами його поля

padding.

content-box Вирізає зображення або елемент за межами його вмістової

області (content).

fill-box Вирізає зображення або елемент за межами його області

заповнення (fill).

stroke-box Вирізає зображення або елемент за межами його області

обводки (stroke).

view-box Вирізає зображення або елемент за межами його області

видимого вмісту (view).


			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Прив’язка прокрутки

scroll-snap-type - це CSS властивість, яка встановлює,
наскільки точно точки прив’язки застосовуються до
контейнера прокрутки

Технологія scroll-snap дозволяє прив'язувати положення
прокрутки до певних елементів або розташування після
того, як користувач прокрутив сторінку або елемент

.example {
: x;
}
scroll-snap-type

scroll-snap-type

Перейти на онлайн демо

Прив’язка прокрутки

значення Опис

none Ігнорує точки прив’язки

x Прив’язується до позицій прив’язки лише по

горизонтальній осі.

y Прив’язується до позицій прив’язки лише по

вертикальній осі.

block Прив’язується до позицій прив’язки лише на своїй осі

блоку.

inline Прив’язується до позицій прив’язки лише на своїй

вбудованій осі.

both Прив’язується до позицій прив’язки лише по обох осях.

mandatory Прокрутка здійснюється одразу до наступного блоку.

proximity Прокрутка здійснюється одразу до назначних точок.
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Внутрішній відступ
прокрутки

scroll-padding - це CSS властивість, яка встановлює
внутрішні відступи для прокручування з усіх боків елемента
одночасно

.example {
: 10px;
}
scroll-padding

scroll-padding

Перейти на онлайн демо

Внутрішній відступ
прокрутки

значення Опис

L T R B L — відступ зліва, T — відступ зверху, R — відступ

справа, B — відступ знизу

L (left) < scroll-padding-left>

T (top) < scroll-padding-top>

R (right) < scroll-padding-right>

B (bottom)  < scroll-padding-bottom>


Внутрішній відступ
прокрутки

значення Опис

довжина Встановлюється значення відстані в одиницях довжини

(px, em, відсотки тощо)

% Встановлюється значення відстані від висоти

батьківського елемента в відсотках

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Внутрішній
вертикальний
відступ прокрутки

scroll-padding-block - це CSS властивість, яка
використовується для встановлення внутрішніх відступів
контейнера прокрутки у вертикальному напрямку блоків

.example {
: 16px;
}
scroll-padding-block

scroll-padding-block

Перейти на онлайн демо

Внутрішній
вертикальний
відступ прокрутки

Значення Опис

S E S — відступ зверху, E — відступ знизу

S (start) scroll-padding-block-start

E (end) scroll-padding-block-end

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Внутрішній
горизонтальний
відступ прокрутки

scroll-padding-inline - це CSS властивість, яка
використовується для встановлення внутрішніх відступів
контейнера прокрутки у горизонтальному напрямку блоків

.example {
: 16px;
}
scroll-padding-inline

scroll-padding-inline

Перейти на онлайн демо

Внутрішній
горизонтальний
відступ прокрутки

Значення Опис

S E S — відступ зліва, E — відступ справа

S (start) scroll-padding-inline-start

E (end) scroll-padding-inline-end

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Прив'язка прокрутки
до контейнера

scroll-snap-align- це CSS властивість, яка
використовується для визначення того, як елемент
прив'язується до контейнера при прокрутці

.example {
: start;
}
scroll-snap-align

scroll-snap-align

Перейти на онлайн демо

Прив'язка прокрутки
до контейнера

значення Опис

none Елемент не прив'язується до контейнера прокрутки

start Прив'язка елемента відбувається до початку контейнера

прокрутки

end Прив'язка елемента відбувається до кінця контейнера

прокрутки

center Елемент прив'язується до центру контейнера прокрутки

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Зупинка прокрутки
при прилипанні точок

scroll-snap-stop - це CSS властивість, яка визначає, чи слід
прокручувати минулі елементи, чи зупинятися та
прив’язуватися до наступного елемента під час швидкого
гортання на трек паді чи сенсорному екрані

.example {
: always;
}
scroll-snap-stop

scroll-snap-stop

Перейти на онлайн демо

Зупинка прокрутки
при прилипанні точок

значення Опис

normal Автоматична прокрутка до наступної точки зупинки

відбувається за замовчуванням

always Автоматична прокрутка до наступної точки зупинки

завжди відключена

			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Зовнішній відступ
прокрутки

scroll-margin - це CSS властивість, яка використовується
для встановлення зовнішніх відступів від елемента до країв
видимої області при використанні прокрутки

.example {
: 20px;
}
scroll-margin

scroll-margin

Перейти на онлайн демо

Зовнішній відступ
прокрутки

значення Опис

L T R B L — відступ зліва, T — відступ зверху, R — відступ

справа, B — відступ знизу

L (left) < scroll-margin-left>

T (top) < scroll-margin-top>

R (right) < scroll-margin-right>

B (bottom) < scroll-margin-bottom>

Зовнішній відступ
прокрутки

значення Опис

довжина Встановлюється значення відстані в одиницях довжини

(px, em, відсотки тощо)

% Встановлюється значення відстані від висоти

батьківського елемента в відсотках


			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Зовнішній
вертикальний
відступ прокрутки

scroll-margin-block - це CSS властивість, яка
використовується для встановлення вертикального відступу
для блоку прокрутки вгору і вниз від контенту.

.example {
: 12px;
}
scroll-margin-block

scroll-margin-block

Перейти на онлайн демо

Значення Опис

довжина Встановлює конкретну величину відступу в одиницях

Зовнішній
вертикальний
відступ прокрутки

Значення Опис

S E S — відступ зверху, E — відступ знизу

S (start) scroll-margin-block-start

E (end) scroll-margin-block-end
			</div>
			</div>
		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">
Зовнішній
горизонтальний
відступ прокрутки

scroll-margin-inline - це CSS властивість, яка
використовується для встановлення горизонтального
відступу для блоку прокрутки зліва і справа від контенту.

.example {
: 8px;
}
scroll-margin-inline

scroll-margin-inline

Перейти на онлайн демо

Значення Опис

довжина Встановлює конкретну величину відступу в одиницях

Зовнішній
горизонтальний
відступ прокрутки

Значення Опис

S E S — відступ зверху, E — відступ знизу

S (start) scroll-margin-inline-start

E (end) scroll-margin-inline-end

			</div>
			</div>
		{{!-- ===================================== --}}

		{{!-- ===================================== --}}

		<div class="card">
			<div class="card-body">

			</div>
			</div>
		{{!-- ===================================== --}}
		
	</section>

	<section>
		<div class="card">
		<div class="card-body">

		</div>
	</div> 
	{{!-- ===================================== --}}

	<div class="card">
	<div class="card-body">

	</div>
	</div>
	{{!-- ===================================== --}}
	
	</section>