{{!-- <h2> Робота з обрызанням та перенесенням контенту </h2> --}}
{{#with lesson}}
	<h2 class="title"> {{title}} </h2>

	{{!-- ================================ --}}
	<div class="card">
		<span> visibility </span>
		<span> - CSS властивість </span>
		<span> яка допомагає </span>
		<span> приховати певний елемент з екрана браузера та не ламає верстку </span>
		<div class="row">
			<div class="card col-3">
				<div class="card-header">
					<h4> visible </h4> 
					<small> Показати елемент </small>
				</div>
				<div class="card-body">
					<div>
						<pre>visibility : visible;</pre>
					</div>
				</div>
			</div>

			<div class="card col-3">
				<div class="card-header">
					<h4> hidden </h4> 
					<small> Приховати елемент </small>
				</div>
				<div class="card-body">
					<div>
						<pre>visibility : hidden;</pre>
					</div>
				</div>
			</div>
		</div>
	</div>


	{{!-- ================================ --}}
	<section class="">
		<div class="card">
			<div class="card-body">
Робота з обрізанням
та перенесенням
контенту
			</div>
		</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Видимість

visibility — це CSS властивість, яка допомагає приховати
певний елемент з екрана браузера та не ламає верстку

div {
: hidden;
}
visibility

visibility

Значення Опис

visible Показати елемент

hidden Приховати елемент

collapse Працює як hidden,

але покращує відображення в певних випадках
visibility: collapse

1 Для <table> вона озволяє приховувати ряки або стовпці таблиці,
виаляючи їх простір, але зберігаючи розміри інших елементів таблиц
1 Рубінові анотації (<ruby>) приховані, а простір, який вони займали,
виален!

1 Згорнуті елементи при роботі з dis2lay: flex
			</div>
		</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Обрізання блоку

overflow — це CSS властивість, яка відповідає
за те, як саме потрібно показати контент блоку,
якщо він не влазить

h1 {
: hidden;
}
overflow

overflow

Значення Опис

overflow-x Якщо треба задати для горизонтальної сторони

overflow-y Якщо треба задати для вертикальної сторони
Обрізання блоку

Значення Опис

auto Браузер автоматично визначає, чи повинен додавати

смужку прокрутки відповідно до розміру вмісту

visible Елемент виводиться з області блоку, що може призвести до

перекриття інших елементів на сторінці

hidden Вміст, що виходить за межі блоку, буде приховано

clip Працює як hidden, але повністю забороняє прокрутку блоку

через просунуті технології та JavaScript

scroll

Додає смужки прокрутки, щоб користувач міг
прокручувати вміст блоку, але смужки займають місце
збоку справа

overlay Працює як auto, але смужки прокручування намальовані

поверх контенту, а не займають місце збоку справа
			</div>
		</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Обрізання тексту

text-overflow — це CSS властивість, яка допомагає додати
три крапки (“...”) в кінці тексту, якщо елемент не влазить

span {
: ellipsis;
}
text-overflow

text-overflow

Значення Опис

clip Текст обрізається, коли він виходить за межі блоку,

значення за замовчуванням

ellipsis Текст обрізається, коли він виходить за межі блоку,

але в кінці додається три крапки (“...”)
			</div>
		</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Пропуск
білих символів

white-space — це CSS властивість, яка обробляє пробіли
між словами та перенесення рядків усередині елемента.

span {
: pre-wrap;
}
white-space

white-space
white-space

Значення Опис

normal

Між словами вставляється лише по одному пропуску,
додаткові пропуски відкидаються. Текст переноситься
лише у разі потреби.

nowrap Забороняє перенесення рядків, за винятком

застосування <br>.

pre Відображає пробіли та перенесення так, як є в коді

pre-wrap Відображає пробіли та перенесення так, як є в коді,

але в потрібних місцях переноситься текст

pre-line

Видаляє всі додаткові пробіли в коді,
відображає символи перенесення,
в потрібних місцях переноситься текст

break-spaces Працює як pre-wrap,

але переносить пробіли на новий рядок
			</div>
		</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Перенесення тексту

overflow-wrap — це CSS властивість, яка відповідає як саме
потрібно перенести текст, якщо все останнє слово не може
розділитись на частину та перейти на новий рядок

span {
: break-word;
}
overflow-wrap

overflow-wrap
Перенесення тексту

Значення Опис

normal Значення за замовчуванням.

anywhere Якщо слово не поміщається на поточному рядку, то
розрив слова буде відбуватись в будь-яких місцях

break-word Якщо слово не поміщається на поточному рядку, то
розрив слова буде відбуватись в найкращому місці
			</div>
		</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Перенесення слова

word-break — це CSS властивість, яка відповідає за
можливість перенесення слів на новий рядок

span {
: break-all;
}

Перенесення слова

Значення Опис

normal Значення за замовчуванням.

break-all Перенесення слів не застосовується,

але слова розбиваються в потрібному місці

keep-all Забороняє розрив між словами

break-word Слова, які не поміщаються, будуть розбиті

на дві частини, щоб вони вмістилися
			</div>
			</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Перенесення слова
через символ

hyphens — це CSS властивість, яка дозволяє
створювати м’які переноси слів на новий рядок

span {
: manual;
}
hyphens

hyphens "& s h y;"

Значення Опис

none Слова не переносяться

auto Браузер сам вирішує як треба переносити

manual Слова переносяться через символ ("& s h y;")
			</div>
			</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Символ
перенесення слів

hyphenate-character — це CSS властивість, яка дозволяє
встановлювати символ, який буде використовуватися для
перенесення слів у тексті, якщо такий текст містить дефіси
для перенесення слів.

.example {
: "———";
}
hyphenate-character

hyphenate-character

Символ
перенесення слів

Значення Опис

auto Браузер використовує дефіс для перенесення слів.

Значення за замовчуванням

< s t r i n g > Задається конкретний символ для перенесення слів

у вигляді рядка
			</div>
			</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Інтервал слів

word-spacing — це CSS властивість,
яка визначає інтервали між словами в тексті

h1 {
: 4px
}
word-spacing

word-spacing

Значення Опис

normal Значення за замовчуванням

Довжина Приймає значення в будь-якій одиниці виміру
			</div>
			</div>
		{{!-- ===================== --}}
		<div class="card">
			<div class="card-body">
Зміна розмірів

resize — це CSS властивість, яка використовується для
встановлення можливості зміни розмірів елемента
користувачем за допомогою миші

.example {
: both;
}
resize

resize

resize

значення Опис

none Браузер не надає змінити розмір елемента користувачем.

Значення за замовчуванням.

both Дозволяє змінювати розміри елемента користувачем як по

горизонталі, так і по вертикалі.

horizontal Дозволяє змінювати розміри елемента користувачем лише

по горизонталі.

vertical Дозволяє змінювати розміри елемента користувачем лише

по вертикалі.
			</div>
			</div>
	</section>
{{/with}}