{{!-- <h2> Робота з обрызанням та перенесенням контенту </h2> --}}
{{!-- {{#with lesson}} --}}
	<h2 class="title"> Словник сучасних та
продвинутих CSS
властивостей для
робити з текстом,
шрифтом та блоками
- Dictionary of modern and
advanced CSS
properties for
work with text,
font and blocks </h2>

	{{!-- ================================ частина 1--}}
<section>
	<div class="card">
		<div class="card-body">
частина 1
		</div>
		</div>
</section>	



	{{!-- ================================ частина 2--}}
<section>
	<div class="card">
	<div class="card-body">
Розмір блоку

block-size — це CSS властивість, яка встановлює висоту
блоку у залежності від орієнтації зображення
(горизонтальна та вертикальна)

.example {
: 300px;
}
block-size

block-size

Перейти на онлайн демо
Розмір блоку

Значення Опис

auto Браузер встановлює розмір блоку самостійно, залежно

від контенту

довжина Вказується конкретна довжина для блоку.

% Вказується розмір блоку відносно розміру

батьківського контейнера

max-content Встановлює розмір блоку, який не перевищує

максимальний розмір контенту внутрішніх елементів

min-content Встановлює розмір блоку, який не менше мінімального

розміру контенту внутрішніх елементів
	</div>
	</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Ширина блоку

inline-size — це CSS властивість, яка встановлює ширину
блока відповідно до його орієнтації (вертикальна або
горизонтальна)

.example {
: 100px;
}
inline-size

inline-size

Перейти на онлайн демо

Ширина блоку

Значення Опис

auto Браузер самостійно вибирає розмір блоку

довжина Встановлює ширину блоку в пікселях, сантиметрах,
відсотках або інших допустимих одиницях виміру.

% Встановлює ширину блоку у відсотках від розміру

батьківського елемента.

max-content Встановлює ширину блоку, яка не перевищує

максимальну ширину контенту внутрішніх елементів

min-content Встановлює ширину блоку, яка не менше мінімального

розміру контенту внутрішніх елементів
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Вертикальні рамки

border-block — це CSS властивість, яка встановлює
вертикальні рамки відповідно до орієнтації тексту
(вертикальна орієнтація чи горизонтальна)

.example {
: medium dashed blue;
}
border-block

border-block

Перейти на онлайн демо

Значення Опис

W S C W - ширина, S - стиль, C - колір

W (width) border-block-width

S (style) border-block-style

C (color) border-block-color


Вертикальні рамки
для початкової
сторони

border-block-start — це CSS властивість, яка встановлює
верхню рамку відповідно до орієнтації тексту (вертикальна
орієнтація чи горизонтальна)

.example {
: thin groove blue;
}
border-block-start

border-block-start

Перейти на онлайн демо


Вертикальні рамки
для початкової
сторони

Значення Опис

W S C W - ширина, S - стиль, C - колір

W (width) border-block-start-width

S (style) border-block-start-style

C (color) border-block-start-color
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Вертикальні рамки
для кінцевої сторони

border-block-end — це CSS властивість, яка встановлює
нижню рамку відповідно до орієнтації тексту (вертикальна
орієнтація чи горизонтальна)

.example {
: 1px double blue;
}
border-block-end

border-block-end

Перейти на онлайн демо




Вертикальні рамки
для кінцевої сторони

Значення Опис

W S C W - ширина, S - стиль, C - колір

W (width) border-block-end-width

S (style) border-block-end-style

C (color) border-block-end-color
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Ширина
вертикальної рамки

border-block-width — це CSS властивість, яка визначає
ширину рамки вертикального блоку в залежності від
значення заданого для неї

.example {
: 1px;
}
border-block-width

border-block-width

Перейти на онлайн демо
Ширина
вертикальної рамки

Значення Опис

довжина Встановлює ширину рамки у конкретній одиниці

вимірювання

thin Встановлює тонку рамку

medium Встановлює середню рамку

thick Встановлює товсту рамку
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Стиль вертикальної
рамки

border-block-style — це CSS властивість, яка
використовується для встановлення стилю рамки для
вертикальних сторін елементу

.example {
: double;
}
border-block-style

border-block-style

Перейти на онлайн демо


Стиль вертикальної
рамки

Значення Опис

solid Оформлює рамку суцільною лінією

dotted Оформлює рамку точковою лінією

dashed Оформлює рамку пунктирною лінією

double Оформлює рамку подвійною лінією

none Встановлює відсутність стилю рамки

groove Оформлює рамку об'ємною втисненою рамкою

ridge Оформлює рамку об'ємною опуклою рамкою
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Колір вертикальної
рамки

border-block-color — це CSS властивість, яка
використовується для задання кольору рамки для бокових
сторін вертикальних елементів

.example {
: #32a1ce;
}
border-block-color

border-block-color

Перейти на онлайн демо

Значення Опис

колір Встановлює колір
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Горизонтальні рамки

border-inline — це CSS властивість, яка встановлює
горизонтальні рамки відповідно до орієнтації тексту
(вертикальна орієнтація чи горизонтальна)

.example {
: 2px solid red;
}
border-inline

border-inline

Перейти на онлайн демо


Горизонтальні рамки

Значення Опис

W S C W - ширина, S - стиль, C - колір

W (width) border-inline-width

S (style) border-inline-style

C (color) border-inline-color
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Горизонтальні рамки
для початкової
сторони

border-inline-start — це CSS властивість, яка встановлює
ліву рамку відповідно до орієнтації тексту (вертикальна
орієнтація чи горизонтальна)

.example {
: thick ridge blue;
}
border-inline-start

border-inline-start

Перейти на онлайн демо

Горизонтальні рамки
для початкової
сторони

Значення Опис

W S C W - ширина, S - стиль, C - колір

W (width) border-inline-start-width

S (style) border-inline-start-style

C (color) border-inline-start-color
		</div>
		</div>
	{{!-- ================================ --}}
	<div class="card">
		<div class="card-body">
Горизонтальні рамки
для кінцевої сторони

border-inline-end — це CSS властивість, яка встановлює
праву рамку відповідно до орієнтації тексту (вертикальна
орієнтація чи горизонтальна)

.example {
: 1px solid blue;
}
border-inline-end

border-inline-end

Перейти на онлайн демо


Горизонтальні рамки
для кінцевої сторони

Значення Опис

W S C W - ширина, S - стиль, C - колір

W (width) border-inline-end-width

S (style) border-inline-end-style

C (color) border-inline-end-color
		</div>
		</div>
	{{!-- ================================ --}}

	
	<div class="card">
		<div class="card-body">
Ширина
горизонтальної
рамки

border-inline-width — це CSS властивість, яка визначає
ширину рамки для горизонтальних сторін елементу

.example {
: thick;
}
border-inline-width

border-inline-width

Перейти на онлайн демо

Ширина
горизонтальної
рамки

Значення Опис

довжина Встановлює ширину межі у конкретній одиниці

вимірювання

thin Встановлює тонку межу.

medium Встановлює середню межу

thick Встановлює товсту межу
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Стиль горизонтальної
рамки

border-inline-style — це CSS властивість, яка встановлює
стиль рамки для горизонтальних сторін елемента

.example {
: thick;
}
border-inline-style

border-inline-style

Перейти на онлайн демо

Стиль горизонтальної
рамки

Значення Опис

solid Оформлює рамку суцільною лінією

dotted Оформлює рамку точковою лінією

dashed Оформлює рамку пунктирною лінією

double Оформлює рамку подвійною лінією

none Встановлює відсутність стилю рамки

groove Оформлює рамку врізаною у документ

ridge Оформлює рамку, що виступає, з документа

inset Оформлює рамку вм'ятою лінією

outset Оформлює рамку випуклою лінією
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Колір горизонтальної
рамки

border-inline-color — це CSS властивість, яка встановлює
стиль рамки для горизонтальних сторін елемента

.example {
: red;
}
border-inline-color

border-inline-color

Перейти на онлайн демо

Значення Опис

колір Встановлює колір рамки
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Відступ

inset — це CSS властивість, яка використовується для
встановлення відступів від різних сторін відносно
батьківського елемента або вікна перегляду

.example {
: 20px;
}
inset

inset

Перейти на онлайн демо

Значення Опис

довжина Вказує величину відступу в пікселях, ем, rem,
відсотках або інших допустимих одиницях виміру

auto За замовчуванням, якщо не вказано інше значення,

браузер встановлює автоматичні відступи
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Зовнішні бокові
відступи

inset-inline — це CSS властивість, яка встановлює зовнішні
бокові відступи (зліва та справа), які залежать від орієнтації
тексту

.example {
: 3px 12px;
}
inset-inline

inset-inline

Перейти на онлайн демо

Зовнішні бокові
відступи

Значення Опис

S E S — лівий відступ, Е — правий відступ

S (start) inset-inline-start

E (end) inset-inline-end

Зовнішні бокові
відступи

Значення Опис

довжина Відступ зазначеної довжини в одиниці виміру

% Значення відсотка від розміру відносного вмісту,

заданого батьківським елементом.

auto Браузер встановлює значення автоматично
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Зовнішні вертикальні
відступи

inset-block — це CSS властивість, яка встановлює зовнішні
вертикальні відступи (зверху на знизу), які залежать від
орієнтації тексту

.example {
: 40px;
}
inset-block

inset-block

Перейти на онлайн демо

Зовнішні вертикальні
відступи

Значення Опис

S E S — верхній відступ, Е — нижній відступ

S (start) inset-block-start

E (end) inset-block-end

Зовнішні вертикальні
відступи

Значення Опис

auto За замовчуванням. Браузер обчислює відстань

самостійно

довжина Вказує відстань у пікселях, ем, відсотках або інших

допустимих одиницях виміру довжини.

% Вказує відстань від верхньої межі контейнера

відсотками від висоти контейнера.
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Внутрішні
вертикальні відступи

padding-block — це CSS властивість, яка встановлює
внутрішній відступ вгорі та внизу блоку

.example {
: 20px;
}
padding-block

padding-block

Перейти на онлайн демо

Значення Опис

S E S — верхній відступ, Е — нижній відступ

S (start) padding-block-start

E (end) padding-block-end

Внутрішні
вертикальні відступи

Значення Опис

довжина Встановлює значення відступу у пікселях, ем або інших

допустимих одиницях виміру довжини.

% Встановлює значення відступу відносно розміру

батьківського елементу
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Внутрішні бокові
відступи

padding-inline — це CSS властивість, яка встановлює
внутрішній відступ зліва та справа блоку

.example {
: 100px;
}
padding-inline

padding-inline

Перейти на онлайн демо

Значення Опис

S E S — зліва відступ, Е — справа відступ

S (start) padding-inline-start

E (end) padding-inline-end

Внутрішні бокові
відступи

Значення Опис

довжина Встановлює внутрішні відступи у конкретній одиниці

вимірювання

% Встановлює значення внутрішнього відступу відносно

розміру батьківського елементу
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Зовнішні вертикальні
відступи

margin-block — це CSS властивість, яка встановлює
зовнішній відступ вгорі та внизу блоку

.example {
: 28px;
}
margin-block

margin-block

Перейти на онлайн демо

Значення Опис

S E S — верхній відступ, Е — нижній відступ

S (start) margin-block-start

E (end) margin-block-end

Зовнішні вертикальні
відступи

Значення Опис

auto Браузер сам встановлює значення зовнішнього

відступу

довжина Встановлює конкретне значення в пікселях, ем або

інших одиницях виміру

% Встановлює значення відступу відносно розміру

батьківського елемента
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Зовнішні
горизонтальні
відступи

margin-inline — це CSS властивість, яка встановлює
зовнішні відступи зліва та справа блоку

.example {
: 32px;
}
margin-inline

margin-inline

Перейти на онлайн демо

Зовнішні
горизонтальні
відступи

Значення Опис

S E S — верхній відступ, Е — нижній відступ

S (start) margin-inline-start

E (end) margin-inline-end

Зовнішні
горизонтальні
відступи

Значення Опис

auto Браузер обирає значення зовнішнього відступу

довжина

Вказується конкретна довжина для зовнішнього
відступу в одиницях виміру, таких як пікселі або
відсотки.

% Вказується відсоток ширини батьківського елемента

для зовнішнього відступу.
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Мінімальна висоти

min-block-size — це CSS властивість, яка встановлює
мінімальний розмір висоти блоку відповідно до його
орієнтації.

.example {
: 120px;
}
min-block-size

min-block-size

Перейти на онлайн демо

Мінімальна висоти

Значення Опис

довжина Задається довжина в пікселях (px), відсотках (%), em

або інші одиниці виміру.

% Задається відсоток від розміру батьківського елемента

min-content Задається мінімальний розмір, необхідний для

вміщення всіх внутрішніх елементів.

max-content

Задається максимальний розмір, що залежить від
контенту внутрішніх елементів, з відповідними
обмеженнями
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Максимальна висота

max-block-size — це CSS властивість, яка встановлює
максимальний розмір висоти блоку відповідно до його
орієнтації.

.example {
: 400px;
}
max-block-size

max-block-size

Перейти на онлайн демо

Максимальна висота

Значення Опис

довжина Вказує фіксовану довжину блоку

% Встановлює висоту блоку відносно висоти

батьківського елементу

min-content Розмір блоку буде встановлено на мінімальний розмір

контенту, який міститься в блоку

max-content Розмір блоку буде встановлено на максимальний

розмір контенту, який міститься в блоку
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Мінімальна ширина

min-inline-size — це CSS властивість, яка встановлює
мінімальний розмір ширини блоку відповідно до його
орієнтації

.example {
: 20px;
}
min-inline-size

min-inline-size

Перейти на онлайн демо

Мінімальна ширина

Значення Опис

довжина Вказує мінімальну ширину в заданих одиницях
довжини, наприклад, пікселях або відсотках

% Вказує мінімальну ширину відсотками від ширини

контейнера.

max-content Ширина контенту у межах лінійного контексту

min-content Мінімально можлива ширина контенту в лінійному

контексті.
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Максимальна
ширина

max-inline-size — це CSS властивість, яка встановлює
максимальний розмір ширини блоку відповідно до його
орієнтації

.example {
: 140px;
}
max-inline-size

max-inline-size

Перейти на онлайн демо


Максимальна
ширина

Значення Опис

довжина Встановлює конкретну довжину в пікселях або інших

одиницях виміру;

% Встановлює довжину у відсотках від батьківського

елемента

max-content Встановлює максимальну ширину, яка може бути
забезпечена вмістом внутрішнього контенту елемента
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Вирівнювання тексту
розширенням
інтервалів

text-justify - це CSS властивість, яка встановлює
вирівнювання і вирівнювання пробілів в рядках тексту, коли
відстань між словами більша за ширину блоку.

p {
: inter-character;
}


Вирівнювання тексту
розширенням
інтервалів

значення Опис

none Тест не вирівнюється

auto Браузер сам обирає, як вирівнювати текст.

Значення за замовчуванням

inter-word Пробіли між словами розширюються, для

заповнення ширини блоку


Вирівнювання тексту
розширенням
інтервалів

значення Опис

inter-character Символи розширюються або стискаються, щоб
заповнити ширину блоку, незалежно від пробілів

distribute Відстані між символами та словами розподіляються

рівномірно, щоб заповнити ширину блоку
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Пропустити чорнило
декорації тексту

text-decoration-skip-ink — це CSS властивість, яка
визначає, як текстове оформлення (наприклад, лінія
підкреслення) поводить себе навколо символів з високим
контрастом, таких як літери з "що зависають" елементами,
які виходять за межі звичайного літерного боксу

Працює на останніх версіях браузерів окрім IE та мобільної
Firefox, майже не підтримується властивість “All”

p {
: auto;
}
text-decoration-skip-ink

text-decoration-skip-ink

Перейти на онлайн демо


Пропустити чорнило
декорації тексту

значення Опис

none Текстове оформлення буде застосовуватись навколо

всього тексту, включаючи всі символи

auto

Текстове оформлення буде застосовуватись навколо
всього тексту, включаючи символи з високим контрастом
Значення за замовченням

all Текстове оформлення пропускає пробіли

та символи з високим контрастом
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Оформлення
пропусків тексту

text-decoration-skip - це CSS властивість, яка визначає, як
декоративні ефекти текстового оформлення (такі як
підкреслення або лінії над текстом) мають обходити певні
елементи або дочірні елементи текстового блоку.

Працює лише у Safari

.my-link {
text-decoration: underline;
: objects;
}


Оформлення
пропусків тексту

значення Опис

none

Декоративні ефекти текстового оформлення не обходять
жодні елементи або дочірні елементи текстового блоку.
Значення за замовченням

objects

Декоративні ефекти текстового оформлення обходять всі
об'єкти в тексті, такі як вбудовані зображення або
мультимедіа

edges Декоративні ефекти текстового оформлення обходять

краї текстового блоку


Оформлення
пропусків тексту

значення Опис

spaces Декоративні ефекти текстового оформлення обходять

пропуски між словами в тексті

leading-spaces Декоративні ефекти текстового оформлення обходять

пропуски перед першим символом тексту

trailing-spaces Декоративні ефекти текстового оформлення обходять

пропуски після останнього символу тексту
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Налаштування
змінних шрифту

font-variation-settings — це CSS властивість, яка дозволяє
контролювати варіації шрифту, такі як нахил, жирність,
ширина

.my-font {
: "wght" 700;
}
font-variation-settings

font-variation-settings

Перейти на онлайн демо

Налаштування
змінних шрифту

значення Опис

normal Варіація шрифту встановлюється за замовчуванням.

< s t r i n g > Використовується для вказівки значень варіацій шрифту

за їхніми назвами

< number > Використовується для вказівки числових значень варіацій

шрифту
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Варіація шрифту
східно-азіатської
писемності

font-variant-east-asian — це CSS властивість, яка дозволяє
контролювати заміну та розмір символів у східноазіатському
тексті.

.my-font {
: traditional;
}
font-variant-east-asian

font-variant-east-asian

Перейти на онлайн демо

Варіація шрифту
східно-азіатської
писемності

значення Опис

normal Функції перетворення не використовуються.

Значення за замовчуванням.

jis78 Включає рендеринг форм JIS78

jis83 Включає рендеринг форм JIS83

jis90 Включає рендеринг форм JIS90

jis04 Включає рендеринг форм JIS2004

simplified Включає рендеринг спрощених форм

Варіація шрифту
східно-азіатської
писемності

значення Опис

traditional Включає рендеринг традиційних форм

full-width Включає рендеринг символів однакової ширини квадратної

форми

proportional-
width Включає рендеринг символів різної ширини

ruby Вмикає відображення символів варіантів ruby


Варіація шрифту
східно-азіатської
писемності

значення Опис

none

Встановлює для font-variant-ligatures значення none та
скидає всі інші властивості шрифту на значення за
замовчуванням.

Значення
окремих
властивостей
варіантів
шрифту
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Розрив рядка

line-break — це CSS властивість, яка визначає, як браузер
повинен розбивати рядки, якщо вони не поміщаються в
контейнері.

.my-font {
: normal;
}
line-break

line-break

Перейти на онлайн демо

word-break

word-break - це властивість word-break визначає
можливості м'якого перенесення літерами, тобто. коли
можна розбивати рядки тексту.

значення Опис

normal х звичайних правил. Значення за замовчуванням.

break-all Розрив допускається в межах слів. Перенесення слів

не застосовується.

keep-all Забороняє розрив між парами символів.

initial Встановлює значення властивості значення за

замовчуванням.

inherit Наслідує значення властивості батьківського

елемента.

Розрив рядка

значення Опис

auto Значення за замовчуванням.

loose Розбиває текст відповідно до розміру контейнера,

але відступи між словами будуть пропорційні

normal

Розбиває текст відповідно до розміру контейнера,
і відступи між словами будуть звичайними, без
пропорційного збільшення.

strict

Розбиває текст відповідно до розміру контейнера, і
відступи між словами будуть збільшені, якщо це
дозволено за правилами мови, наприклад, у німецькій
мові.

anywhere

Розбиває текст, на рядки у будь-якому місці, де це є
необхідним, ігноруючи правила перенесення слів та
довжину окремих слів.
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Масштабування
розміру шрифту

text-size-adjust — це властивість CSS, яка
використовується для налаштування розміру шрифту
тексту, коли він відображається на пристроях з високою
щільністю пікселів (наприклад, на деяких мобільних
пристроях).

Не підтримується у Safari, Firefox

.my-text {
: 120%;
}
text-size-adjust

text-size-adjust

Масштабування
розміру шрифту

значення Опис

none

Вимикає алгоритм автоматичного змінювання розміру
шрифту тексту на пристроях з високою щільністю
пікселів

auto

Встановлює автоматичне змінювання розмір шрифту
тексту на пристроях з високою щільністю пікселів.
Значення за замовчуванням

%

Встановлює відсоткове значення для автоматичного
змінювання розміру шрифту тексту на пристроях з
високою щільністю пікселів
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Товщина декорації
тексту

text-decoration-thickness - це CSS властивість, яка
визначає товщину лінії, що використовується для
оформлення тексту, такого як підкреслення, мереживо або
перекреслення.

Не працює на Safari, Сhrome, мобільній Firefox

p {
: auto;
}
text-decoration-thickness

text-decoration-thickness

Перейти на онлайн демо

Товщина декорації
тексту

значення Опис

auto Встановлює автоматичне визначення товщини лінії,
залежно від контексту та стилів батьківського елемента

from-font Використовує значення товщини лінії, залежно від
розміру шрифту, що використовується для тексту

довжина Встановлює конкретну товщину лінії в одиницях виміру

довжини

% Встановлює відсоткове значення відносно розміру

текстового елемента, на якому застосовано оформлення
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Комбінований текст
вертикального
напрямку

text-combine-upright — це CSS властивість, яка
використовується для встановлення відображення
горизонтального азійського тексту в комбінованому стилі

Не працює в Edge, старших версіях Google Chrome, Opera, і
тільки частково підтримується в IE та старших версіях Safari

p {
: digits;
}
text-combine-upright

text-combine-upright

Перейти на онлайн демо

Комбінований текст
вертикального
напрямку

значення Опис

none

Горизонтальний текст відображається без
комбінації символів.
Значення за замовчуванням

all Комбінація всіх послідовностей символів

digits < integer> Комбінація тільки послідовностей цифр
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Заміна мови шрифту

font-language-override — це CSS властивість, яка
використовується для перезапису мови, встановленої в
налаштуваннях браузера, для визначення мови
відображення тексту.

Працює тільки в Firefox

.my-font {
: "ukr";
}
font-language-override

font-language-override

Заміна мови шрифту

значення Опис

normal Вказує на використання налаштувань мови, які встановлені

в налаштуваннях браузера

< string> Вказує рядок мовного коду (наприклад, "uk" для української

мови)
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Позиція
підкреслення тексту

text-underline-position — це CSS властивість, яка
використовується для налаштування позиції підкреслення
тексту.

Більшість властивостей підтримується тільки Firefox

.my-text {
text-decoration: underline;
: left;
}
text-underline-position

text-underline-position

Перейти на онлайн демо

Позиція
підкреслення тексту

значення Опис

auto Встановлює автоматичну позицію підкреслення тексту

under Встановлює позицію підкреслення тексту внизу від

базової лінії тексту

left Встановлює позицію підкреслення тексту зліва від базової

лінії тексту

right Встановлює позицію підкреслення тексту справа від

базової лінії тексту

under left Встановлює позицію підкреслення тексту внизу від

базової лінії тексту та зліва від тексту

under right Встановлює позицію підкреслення тексту внизу від

базової лінії тексту та справа від тексту
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Адаптація розміру
шрифту

font-size-adjust — це CSS властивість, яка
використовується для встановлення налаштувань розміру
шрифту для відображення на різних системах, залежно від
наявності альтернативних шрифтів з різними висотами літер

Працює тільки в останніх версіях Firefox та Safari

.my-font {
: 0.5;
}
font-size-adjust

font-size-adjust

Адаптація розміру
шрифту

значення Опис

none Висота літер не коригується автоматично

число Вказує коефіцієнт корекції висоти літер для відображення

тексту
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Позачергові
розділові знаки

hanging-punctuation — це CSS властивість, яка
використовується для визначення розміщення лапок,
апострофів та інших висячих знаків в тексті.

Працює тільки в Safari

.my-text {
: first;
}
hanging-punctuation

hanging-punctuation

Позачергові
розділові знаки

значення Опис

none Лапки та висячі знаки розміщуються на звичайному рівні

тексту. Значення за замовчуванням

first

Лапки та висячі знаки розміщуються на початку першого
рядка тексту, що допомагає забезпечити вирівнювання
лівого краю тексту з рештою тексту.

last

Лапки та висячі знаки розміщуються на кінці останнього
рядка тексту, що допомагає забезпечити вирівнювання
правого краю тексту з рештою тексту.

Позачергові
розділові знаки

значення Опис

force-end

Лапки та висячі знаки завжди розміщуються на кінці
останнього рядка, навіть якщо це порушує вирівнювання
правого краю тексту

allow-end

Лапки та висячі знаки можуть розміщуватися на початку
першого рядка або на кінці останнього рядка, якщо вона
іншим чином не підходить до вирівнювання.
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Відступ першого
рядка

text-indent - це CSS властивість, яка використовується для
встановлення відступу першого рядка текстового блоку від
лівого краю.

Майже не мають підтримки

p {
: 30px;
}
text-indent

text-indent

Перейти на онлайн демо

Відступ першого
рядка

значення Опис

% Встановлює відступ першого рядка текстового блоку

на кількість відсотків ширини елемента

довжина Встановлює відступ першого рядка текстового блоку

від лівого краю у одиницях виміру довжини

unset Знімає задане значення властивості, яка наслідується

за замовчуванням.

each-line Встановлює відступ першого рядка кожного блок-
контейнеру

Відступ першого
рядка

значення Опис

hanging Встановлює відступ для всіх рядків контейнера, окрім

першого

sideways-right Відображує текст у вертикальному напрямку, зі зсувом

тексту вправо

use-glyph-
orientation

Встановлює відступ тексту має використовувати
орієнтацію символів (гліфів) для визначення зсуву
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">
Товщина декорації
тексту

text-underline-offset - це CSS властивість, яка визначає
відстань між текстом та підкресленням (або іншим
стилізованим оформленням) тексту, якщо на текстовий
елемент застосовано оформлення "підкреслення".

Працює тільки у Firefox

p {
: 2px;
}
text-underline-offset

text-underline-offset

Перейти на онлайн демо

Товщина декорації
тексту

значення Опис

auto Встановлює автоматичне визначення відстані між

текстом та підкресленням браузером

% Встановлює відстань між текстом та підкресленням

відносно висоти шрифту текстового елемента

довжина Встановлює відстань між текстом та підкресленням за

допомогою вказаної довжини
		</div>
		</div>
	{{!-- ================================ --}}


	<div class="card">
		<div class="card-body">

		</div>
		</div>
	{{!-- ================================ --}}
</section>